.mainMenuContainer{
    width: 100%;
    height: 20px;
    padding: 5px 20px!important;
    font-size: 13px!important;
    transition: top 0.3s;
}

.leftItem{
    position: absolute!important;
    left: 2px;
    padding: 0 5px!important;
}

.mobileMenu{
    position: fixed;
    top: 0;
    background-color:"#fefefe1"!important;
    z-index: 10;
}