.breadcrumbLink{
    color: teal!important;
    padding: 5px!important;
}

.main-container-productPage{
    padding:0 15px!important;
}

.link-productPage{
    color: #282c34;
    padding: 10px;
    padding-right: 5px !important;
    font-weight: bold;
}
.link-productPage:hover{
    color: teal;
}
.links-productPage{
    margin: 30px 20px 0 20px!important;
    padding: 5px!important;
}

.color-box-in-productPage{
    border: 1px solid grey;
    display: inline-block;
    border-radius:50%!important;
    padding: 0 7px!important;
    margin: 0 1px!important;
}

.toggle-less-more{
    cursor: pointer;
    color: orangered;
    border-bottom: 1px dashed blue;
    margin:0 10px!important; ;
}

.padding-properties{
   padding: 5px 0 !important;
}

.margin-productPage{
    margin: 20px auto!important;
}
.pic-in-productPage{
    margin: auto!important;
}
.div-picture-productPage{
    margin: 0 auto!important;
}
.tabMenu-in-productPage{
    margin: 50px auto!important;
}
.product-price{
    color: red;
    text-align: center;
    margin: 30px auto;
    font-size: 1.2em!important;
}
.format-number{
    padding-left: 5px!important;
}